html{
    scroll-behavior: smooth;
}
body{
    background-image: url(https://i.pinimg.com/originals/c2/2f/e1/c22fe1c5682a7218d08fd4df1ad24339.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
}
.container{

    width: 80%;
    margin: auto;
}
h1{
    text-align: center;
}

img{
    width: 50%;
}

figure{
    text-align: center;
}
.img_topo{
    width: 100%;
}
p{
    font-size: 2em;
    font-weight: bold ;
    text-indent: 50px;
    text-align: justify;
}
footer{
    background-color: black;
}
